<style>
  .hidden-row {
    display: none;
  }
</style>
<%- include header %><!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= title %> (<%= data.roles %>)
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="col-md-6 flex-fill">
          <div class="box box-danger" style="width: fit-content; min-width: 100%">
            <div class="box-body">
              <table class="table table-bordered">
                <tr class="hidden-row">
                  <td>Universal Role</td>
                  <td>
                    <input name="name" id="urole" class="form-control" value="<%=data.roles%>"  ></input>
                  </td>
                </tr>
             
                <tr>
                  <td>Parent Id</td>
                  <td>
                    <select name="parentId" id="parentId" class="form-control">
                      <% data.parentData.forEach((parent) => { %>
                        <option value="<%= parent.numeric_id %>"><%= parent.numeric_id %></option>
                      <% }); %>
                    </select>
                  </td>
                </tr>
                
   
                <tr>
                  <td>Name</td>
                  <td>
                    <input name="name" id="name" class="form-control" placeholder="Enter your Name here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                    <input name="email" id="email" class="form-control" placeholder="Enter your Email here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>
                    <input name="password" id="password" class="form-control" placeholder="Enter your Password here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Balance</td>
                  <td>
                    <input name="balance" type="number" id="balance" class="form-control" placeholder="Enter your Password here...."></input>
                  </td>
                </tr>
                <% if (data.roles !== 'User') { %>
                <tr>
                  <td>Commission Roullete</td>
                  <td>
                    <input name="commRoullete" type="number" value="<%= data.commission.Roullete %>" id="commRoullete" class="form-control" placeholder="Enter your Commission Roullete here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Commission Avaitor</td>
                  <td>
                    <input name="comAvaitor" type="number" value="<%= data.commission.Avaitor %>" id="comAvaitor" class="form-control" placeholder="Enter your Commission Avaitor here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Commission Car Roulette</td>
                  <td>
                    <input name="comCarRoullete" type="number" value="<%= data.commission.CarRoullete %>" id="comCarRoullete" class="form-control" placeholder="Enter your Commission Car Roulette here...."></input>
                  </td>
                </tr>
                <% } %>
                <tr>
                    <td>Role</td>
                    <td>
                      <input name="role" id="role" value="<%= data.roles %>" class="form-control" placeholder="Enter your rules here...." readonly>
                      
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>Role</td>
                    <td>
                        <select name="role" id="role" class="form-control" readonly>
                            <% data.role.forEach((role) => { %>
                                <option value="<%= role %>"><%= role %></option>
                            <% }); %>
                        </select>
                    </td>
                </tr> -->
                <!-- <input type="hidden" name="id" id="notice_id" value="<%=data?._id??''%>" /> -->
                <tr>
                  <td>
                    <button type="button" class="btn btn-success" onclick="saveSettings()">
                      Save
                    </button>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include footer %>
    <script>
      const saveSettings = () => {
      
        const urole = document.getElementById("urole").value;
        const parentId = document.getElementById("parentId").value;
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const password = document.getElementById("password").value;
        const role = document.getElementById("role").value;
        const balance = document.getElementById("balance").value;
        console.log(role)
         let Roullete ;
         let Avaitor ;
         let CarRoullete;
        if(role!="User"){
         Roullete = document.getElementById("commRoullete").value;
         Avaitor = document.getElementById("comAvaitor").value;
         CarRoullete = document.getElementById("comCarRoullete").value;
        }
        
        fetch("/admin/saveAddRank", {
          method: "POST",
          body: JSON.stringify({ name, email, password,role,balance,Roullete,Avaitor,CarRoullete,parentId,urole }),
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(response => response.json())
          .then(response => {
            const title = response.status == 1 ? "Success" : "Error";
            swal({
              icon: response.status == 1 ? "success" : "error",
              title: response.Msg
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            console.log(error);
            swal({ icon: "error", title: "An error occurred" }).then(() => {
              window.location.reload();
            });
          });
        };
        const hiddenRows = document.querySelectorAll('.hidden-row');
hiddenRows.forEach(row => {
  row.style.display = 'none';
});
    </script>