<%- include header %><!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="col-md-6 flex-fill">
          <div class="box box-danger" style="width: fit-content; min-width: 100%">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <td>Parent Id</td>
                  <td>
                    <input name="name" id="parentId" class="form-control" value="<%=data.parentData.search_id%>"  readonly></input>
                  </td>
                </tr>
                <tr>
                  <td>Parent Name</td>
                  <td>
                    <input name="name" id="parentName" class="form-control" value="<%=data.parentData.name%>"  readonly></input>
                  </td>
                </tr>
                <tr>
                  <td>First Name</td>
                  <td>
                    <input name="firstName" id="firstName" class="form-control" placeholder="Enter your Name here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>
                    <input name="lastName" id="lastName" class="form-control" placeholder="Enter your Name here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                    <input name="email" id="email" class="form-control" placeholder="Enter your Email here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>State</td>
                  <td>
                    <input name="state" id="state" class="form-control" placeholder="Enter your State here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>District</td>
                  <td>
                    <input name="district" id="district" class="form-control" placeholder="Enter your District here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Postal Code</td>
                  <td>
                    <input name="postalCode" id="postalCode" class="form-control" placeholder="Enter your Postal Code here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Address</td>
                  <td>
                    <input name="address" id="address" class="form-control" placeholder="Enter your Address here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Phone</td>
                  <td>
                    <input name="phone" id="phone" class="form-control" placeholder="Enter your Contact here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td>
                    <input name="password" id="password" class="form-control" placeholder="Enter your Password here...."></input>
                  </td>
                </tr>
                <tr>
                  <td>Balance</td>
                  <td>
                    <input name="balance" type="number" id="balance" class="form-control" placeholder="Enter your Password here...."></input>
                  </td>
                </tr>
           
                <tr>
                    <td>Role</td>
                    <td>
                      <input name="role" id="role" value="<%= data.role[0] %>" class="form-control" placeholder="Enter your rules here...." readonly>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>Security Pin</td>
                    <td>
                      <input name="securityPin" id="securityPin"  class="form-control" placeholder="Enter Security Pin here...." maxlength="4">
                      
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>Role</td>
                    <td>
                        <select name="role" id="role" class="form-control" readonly>
                            <% data.role.forEach((role) => { %>
                                <option value="<%= role %>"><%= role %></option>
                            <% }); %>
                        </select>
                    </td>
                </tr> -->
                <!-- <input type="hidden" name="id" id="notice_id" value="<%=data?._id??''%>" /> -->
                <tr>
                  <td>
                    <button type="button" class="btn btn-success" onclick="saveSettings()">
                      Save
                    </button>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include footer %>
    <script>
      const saveSettings = () => {
        const securityPin = document.getElementById("securityPin").value;
        console.log(securityPin);
        const parentId = document.getElementById("parentId").value;
        const parentName = document.getElementById("parentName").value;
        const firstName = document.getElementById("firstName").value;
        const lastName = document.getElementById("lastName").value;
        const email = document.getElementById("email").value;
        const state = document.getElementById("state").value;
        const district = document.getElementById("district").value;
        const postalCode = document.getElementById("postalCode").value;
        const address = document.getElementById("address").value;
        const phone = document.getElementById("phone").value;
        const password = document.getElementById("password").value;
        const role = document.getElementById("role").value;
        const balance = document.getElementById("balance").value;
      
// console.log(name,email,password,role);
        fetch("/admin/saveAddRankDataByParent", {
          method: "POST",
          body: JSON.stringify({ firstName,lastName, email, address,postalCode,phone,state, district,password,role,balance,parentName,parentId,securityPin }),
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(response => response.json())
          .then(response => {
            const title = response.status == 1 ? "Success" : "Error";
            swal({
              icon: response.status == 1 ? "success" : "error",
              title: response.Msg
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            console.log(error);
            swal({ icon: "error", title: "An error occurred" }).then(() => {
              window.location.reload();
            });
          });
      };
    </script>