<%- include header %><!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="col-md-12 flex-fill">
          <div class="box box-danger" style="width: fit-content; min-width: 100%">
            <div class="box-body">
              <p>Parent Code</p>
              <table class="table table-bordered">
                <tr class="hidden-row">
                  <td>Enter Parent Code</td>
                  <td>Parent Name</td>
                  <td>Parent Role</td>
                </tr>
                
                <tr class="hidden-row">
                  <td>
                    <select id="searchId" class="form-control search-user" name="state" oninput="getParentName()"></select>
                  </td>
                  <td>
                    <input name="parentName" id="parentName" class="form-control" readonly></input>
                  </td>
                  <td>
                    <input name="parentRole" id="parentRole" class="form-control" readonly></input>
                  </td>
                </tr>
                
                <!-- </tr> -->
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12 flex-fill">
          <div class="box box-danger" style="width: fit-content; min-width: 100%">
            <div class="box-body">
              <p>New Assign Role</p>
              <table class="table table-bordered">
                <tr class="hidden-row">
                  <td>Select State</td>
                  <td>Frist Name</td>
                  <td>Last Name</td>
                </tr>
                
                  <tr class="hidden-row">
                    <td>
                      <select name="stateAllocation" id="stateAllocation" class="form-control" readonly >
                      </select>
                    </td>
                    <td>
                      <input name="firstName" id="firstName" class="form-control" placeholder="Enter Frist Name here...."></input>
                    </td>
                    <td>
                      <input name="lastName" id="lastName" class="form-control" placeholder="Enter Last Name here...."></input>
                    </td>
                  </tr>

                <tr class="hidden-row">
                  <td>Phone Number</td>
                  <td>Email Id</td>
                  <td>Select State</td>
                </tr>
                
                  <tr class="hidden-row">
                    <td>
                      <input name="phone" id="phone" class="form-control" placeholder="Enter Phone Number here...."></input>
                    </td>
                    <td>
                      <input name="email" id="email" class="form-control" placeholder="Enter Email Id here...."></input>
                    </td>
                    <td>
                      <select name="userState" id="userState" class="form-control" onchange="getDistrictData()">
                        <% data.allState.forEach(state => { %>
                          <option value="<%= state %>"><%= state %></option>
                        <% }); %>
                      </select>
                    </td>
                    
                    
                  </tr>
                <tr class="hidden-row">
                  <td>Select District</td>
                  <td>Full Address</td>
                  <td>Pin Code</td>
                </tr>
                
                  <tr class="hidden-row">
                    <td>
                      <select name="district" id="district" class="form-control">
                        <option value="">Select District</option>
                        <!-- Options will be dynamically added here using JavaScript -->
                      </select>
                    </td>
                    
                    <td>
                      <input name="address" id="address" class="form-control" placeholder="Enter Full Address here...."></input>
                    </td>
                    <td>
                      <input name="pinCode" id="pinCode" class="form-control" placeholder="Enter Pin Code here...."></input>
                    </td>
                  </tr>
                <tr class="hidden-row">
                  <td>Addhar Number</td>
                  <td>Paasword</td>
                  <td>Confirm Paasword</td>
                </tr>
                
                  <tr class="hidden-row">
                    <td>
                      <input name="aadharNumber" id="aadharNumber" class="form-control" placeholder="Enter Addhar Number here...."></input>
                    </td>
                    <td>
                      <input name="password" id="password" class="form-control" placeholder="Enter Paasword here...."></input>
                    </td>
                    <td>
                      <input name="cPassword" id="cPassword" class="form-control" placeholder="Enter Confirm Paasword here...."></input>
                    </td>
                  </tr>              
                <tr>
                <tr class="hidden-row">
                  <td>User Role</td>
                  <td>Security Pin</td>
                </tr>
                  <tr class="hidden-row">
                    <td>
                      <input name="userRole"   id="userRole" class="form-control" placeholder="User Role" readonly></input>
                    </td>
                    <td>
                      <input name="securityPin" type="number"  id="securityPin" class="form-control" placeholder="Enter Security Pin "></input>
                    </td>
                  
                  </tr>              
                <tr>
                  <td>
                    <button type="button" class="btn btn-success" onclick="saveSettings()">
                      Save
                    </button>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include footer %>
    <script>
      let a=[];
    const saveSettings = () => {
        const parentId = a[0];
        const stateAllocation = document.getElementById("stateAllocation").value;
        const firstName = document.getElementById("firstName").value;
        const lastName = document.getElementById("lastName").value;
        const phone = document.getElementById("phone").value;
        const email = document.getElementById("email").value;
        const userState = document.getElementById("userState").value;
        const userDistrict = document.getElementById("district").value;
        // const postalCode = document.getElementById("postalCode").value;
        const address = document.getElementById("address").value;
        const pinCode = document.getElementById("pinCode").value;
        const aadharNumber = document.getElementById("aadharNumber").value;
        const password = document.getElementById("password").value;
        const cPassword = document.getElementById("cPassword").value;
        const securityPin = document.getElementById("securityPin").value;
        const userRole = document.getElementById("userRole").value;

               console.log(a);
        fetch("/admin/saveAddRank", {
          method: "POST",
          body: JSON.stringify({parentId, stateAllocation, firstName, lastName, phone, email, userState, userDistrict, address, pinCode, aadharNumber, password, cPassword, securityPin, userRole}),
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(response => response.json())
          .then(response => {
            const title = response.status == 1 ? "Success" : "Error";
            swal({
              icon: response.status == 1 ? "success" : "error",
              title: response.Msg
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            console.log(error);
            swal({ icon: "error", title: "An error occurred" }).then(() => {
              window.location.reload();
            });
          });
      };
    </script>
  <script>
    const getParentName = (selectedParentId) => {
      fetch("/admin/getParentName?search_id=" + selectedParentId, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
      .then(response => {
        console.log(response.rolesBelow[0]);
        const parentName = document.getElementById("parentName");
        parentName.value = response.parentName.name;
  
        const parentRole = document.getElementById("parentRole");
        parentRole.value = response.parentName.role;
  
        const userRole=document.getElementById("userRole");
        userRole.value=response.rolesBelow[0]
        updateParentDropdown(response.parentName.role);
      })
      .catch(error => {
        console.error("Error fetching parent name:", error);
      });
    };
  
    const updateParentDropdown = (parentRole) => {
      const stateAllocation = document.getElementById("stateAllocation");
      
      if (parentRole.toLowerCase() === "company") {
        fetchIndianStates();
        stateAllocation.removeAttribute("readonly"); // Show the dropdown
      } else {
        stateAllocation.innerHTML = '<option value="" selected>Please Select State</option>';
        stateAllocation.setAttribute("readonly", "readonly"); // Hide the dropdown
      }
    };
  
    const fetchIndianStates = () => {
      fetch("/admin/getIndianStates", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
      .then(states => {
        let states2 = states.states;
        if (Array.isArray(states2) && states2.length > 0) {
          const stateAllocation = document.getElementById("stateAllocation");
          stateAllocation.innerHTML = "";
          states2.map(state => {
            const option = document.createElement("option");
            option.value = state;
            option.text = state;
            stateAllocation.appendChild(option);
          });
        } else {
          console.log("No valid states data received.");
        }
      })
      .catch(error => {
        console.error("Error fetching Indian states:", error);
      });
    };
  
    var table = $('#example').DataTable();
  
    $('.search-user').select2({
      allowClear: true,
      placeholder: 'Search user',
      ajax: {
        url: '/admin/find_user',
        data: function (params) {
          var query = {
            search: params.term,
            type: 'public'
          }
          return query;
        }
      }
    });
  
    $('.search-user').on('select2:select', function (e) {
      THAT_ID = e.params.data.id;
      table.ajax.reload();
      getParentName(THAT_ID);
      // console.log(THAT_ID);
       a.push(THAT_ID);
    });
  
    $(".search-user").on("select2:clearing", function (e) {
      console.log('cleared');
      THAT_ID = "";
      table.ajax.reload();
    });
  </script>

  <script>
const getDistrictData = () => {
  const selectedState = document.getElementById("userState").value;
  console.log("Selected State:", selectedState);

  fetch("/admin/getIndianDistrict?state=" + selectedState, {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then(response => response.json())
    .then(response => {
      console.log(response);

      // Assuming response.districts is an array of district names
      const districts = response.district;

      // Get the dropdown element
      const districtDropdown = document.getElementById("district");

      // Clear existing options
      districtDropdown.innerHTML = "";

      // Add default option
      const defaultOption = document.createElement("option");
      defaultOption.text = "Select District";
      districtDropdown.add(defaultOption);

      // Add options for each district
      districts.forEach(district => {
        const option = document.createElement("option");
        option.value = district;
        option.text = district;
        districtDropdown.add(option);
      });
    })
    .catch(error => {
      console.error("Error fetching districts:", error);
    });
};


  </script>
  