<%- include header %>
<style>
.title{
    margin: 0;
    font-size: 24px;
}
.dataTables_filter {
    display: none;
}

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <h1 class='title'>
                        <%= title %>
                    </h1>
                </div>
                <div class="col-md-8">
                    <div class="pull-right">
                        <!-- <select class="col search-user" name="state" style="width:152px;"></select> -->
            
                        <!-- <select class="col select-status" name="status" style="width:152px;">
                            <option></option>
                            <option value="1">Success</option>
                            <option value="0">Pending</option>
                        </select> -->
                       
                        <input type="text" class="col select-date" onfocus="(this.type='date')" onblur="(this.type='text')"  placeholder="Start Date" id="startdatepicker" name="StartDate" style="width: 152px; height: 34px; border-radius: 4px; border: 1px solid gray; border: 1px solid gray;">
                        <input type="text" class="col select-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="End Date" id="enddatepicker" name="EndDate" style="width: 152px; height: 34px; border-radius: 4px; border: 1px solid gray;">

                        </div>
                </div>
                <!-- <div class="row text-center pad-20"> -->
    
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
                    <input type="hidden" value="<%= game%>" id="GameId">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Slot No</th>
                                    <th>Slot Timing</th>
                                    <th>Total Bet Amount</th>
                                    <th>User Profit</th>
                                    <th>Parent Comm</th>
                                    <th>Comp Profit</th>
                                    <th>User Played</th>
                                    <th>Result</th>
                                    <th>Game Status</th>
                                    <th>Bet List</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=1; for (d of data) {%>
                                <tr class="gradeX">
                                    <td><%= i++%></td>
                                    <td><%= d.room_id %></td>
                                    <td><%= d.created_at %></td>
                                    <td><%= d.totalBetAmt %></td>
                                    <td><%= d.totalWinAmt %></td>
                                    <td><%= d.adminComm %></td>
                                    <td><%= d.totalBetAmt -d.totalWinAmt %></td>
                                    <td><%= d.totalPlayer %></td>
                                    
                                    <% if (d.status == 1) { %>
                                        <td><span class="label label-success">Success</span></td>
                                        <% } else { %>
                                            <td><span class="label label-danger">Pending</span></td>
                                            <% } %>
                                    <td class="actions text-center">
                                    <a href="<%= host%>/user/showSlotDetail/<%= d._id%>"  class="on-editing save-row">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    </td>
                                    <td class="actions text-center">
                                    <a href="<%= host%>/user/showSlotDetail/<%= d._id%>"  class="on-editing save-row">
                                        <i class="fa fa-pencil"></i>
                                    </a>
                                    </td>
                                </tr>
                            <% }%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal -->
<div id="remark" class="modal fade remark" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remark</h4>
            </div>
            <div class="modal-body" id="modal-body-remark">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<%- include footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
<script>
    const GameId=document.getElementById("GameId").value
    $(document).ready(function (e) {
        var THAT_ID = "";
        var THAT_TYPE = "";
        var THAT_STATUS = "";
        var THAT_RANK = "";
        var START_DATE = "";
        var END_DATE = "";
        var table = $('#example').DataTable();
        $('.search-user').select2({
            allowClear: true,
            placeholder: 'Search user',
            ajax: {
                url: '/admin/find_user',
                data: function (params) {
                    var query = {
                        search: params.term,
                        type: 'public'
                    }
                    console.log(query);
                    return query;
                }
            }
        });

        $('.search-user').on('select2:select', function (e) {
            // Do something
            THAT_ID = e.params.data.id;
            table.ajax.reload();
            console.log("THAT_ID", THAT_ID);
        });

        $(".search-user").on("select2:clearing", function (e) {
            console.log('cleared');
            THAT_ID = "";
            table.ajax.reload();
        });

        $('.select-status').select2({
            allowClear: true,
            placeholder: 'Transaction status'
        });

        $('.select-status').on('select2:select', function (e) {
            THAT_STATUS = e.params.data.id;
            table.ajax.reload();
        });

        $(".select-status").on("select2:clearing", function (e) {
            THAT_STATUS = "";
            table.ajax.reload();
        });

        $('.select-date').on('change', function () {
        START_DATE = $('#startdatepicker').val();
        END_DATE = $('#enddatepicker').val();
        table.ajax.reload();
    });
  
      
        $('#example1').DataTable().destroy();
        var table = $('#example1').DataTable({
            destroy: true,
            dom: 'lBfrtip',
            lengthMenu: [
                [10, 25, 100, 500],
                [10, 25, 100, 500]
            ],
            pageLength: 10,
            buttons: [{
                    extend: 'excel',
                    text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function (data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 1) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 2) {
                                    data = data.replace(/<.*?>/ig, "");
                                }

                                if (column === 4) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;

                            }
                        }
                    }
                },
                {
                    extend: 'pdf',
                    text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
                    exportOptions: {
                        modifier: {
                            search: 'applied',
                            order: 'applied'
                        },
                        format: {
                            body: function (data, row, column, node) {
                                // Strip $ from salary column to make it numeric
                                if (column === 1) {
                                    data = data.replace(/<.*?>/ig, "");
                                }
                                if (column === 2) {
                                    data = data.replace(/<.*?>/ig, "");
                                }

                                if (column === 4) {
                                    data = formateDateandTime(parseInt(data));
                                }
                                return data;

                            }
                        }
                    }
                }
            ],
            "responsive": true,
            "processing": true,
            "serverSide": true,
            "ajax": {
        'url': '/betHistory_ajax_transaction?gameID='+GameId,
        data: function (params) {
            params.id = THAT_ID;
            params.type = THAT_TYPE;
            params.status = THAT_STATUS;
            params.rank = THAT_RANK;
            params.startDate = START_DATE;
            params.endDate = END_DATE;
            return params;
        }
    },
            "deferLoading": "<%= total %>",
            "createdRow": function (row, data, dataIndex) {
                var rowData = '<td>' + data[0] + '</td>' +
                    '<td>' + data[1] + '</td>' +
                    '<td>' + data[2] + '</td>' +
                    '<td>' + data[3] + '</td>' +
                    '<td>' + data[4] + '</td>' +
                    '<td>' + data[5] + '</td>' +
                    '<td>' + data[6] + '</td>' +

                $(row).html(rowData);
            },
            columnDefs: [{
                    orderable: true,
                    targets: [0, 2, 3, 4, 5, 6]
                },
                {
                    orderable: false,
                    targets: [1]
                }
            ]
        });
        $('#example1').DataTable().order([4, 'desc']).draw();

        $(document).on("click", ".export", function () {
            console.log("fire");
            var data = table.buttons.exportData();
        });
    });

    function openModal(d) {
        if (d == "") {
            $("#modal-body-remark").html('No Data Found');
        } else {
            $("#modal-body-remark").html(d);
        }

        $('#remark').modal('show');
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
 const socket = io('http://103.175.163.97:3070');
if(GameId==1){
    const roomDataMap = new Map();
    socket.on('OnChipMoveRoullate', function (data) {
        console.log(data);

        if (Object.keys(data.bets).length === 0) {
            $('#example1').DataTable().ajax.reload(); 
            return; 
        }

        $('#example1').DataTable().ajax.reload(function() {
            var currentDateTime = getCurrentDateTime();

            let totalChips = 0;
            let uniqueUsers = new Set();

            Object.values(data.bets).forEach(bet => {
                bet.forEach(b => {
                    totalChips += b.chip;
                    uniqueUsers.add(b.playerId); 
                });
            });

            let totalUser = uniqueUsers.size;

            const existingRow = $('#example1 tbody').find(`td:contains('${data.room_id}')`).closest('tr');

            if (existingRow.length > 0) {
                existingRow.find('td:nth-child(4)').text(totalChips);
                existingRow.find('td:nth-child(8)').text(totalUser);
            } else {
                var newRow =
                    '<tr class="gradeX">' +
                    '<td>' + "1" + '</td>' +
                    '<td>' + data.room_id + '</td>' +
                    '<td >' + currentDateTime + '</td>' +
                    '<td >' + totalChips + '</td>' +
                    '<td >' + 0 + '</td>' +
                    '<td >' + 0 + '</td>' +
                    '<td >' + 0 + '</td>' +
                    '<td >' + totalUser + '</td>' +
                    '<td >' + " " + '</td>' +
                    '<td >' + `<span class="label label-danger">Pending</span>` + '</td>' +
                    '<td >' + `<a  href="<%= host%>/user/showSlotDetail/${data.room_id}/${GameId}"> <i class="fa fa-pencil"></i></a>` + '</td>' +
                    '</tr>';

                $('#example1 tbody').prepend(newRow);
            }
        });
});


}else if (GameId=="2"){
    socket.on('OnChipMoveCardRoullate', function (data) {
        console.log(data)
    });
    const roomDataMap = new Map();
socket.on('OnChipMoveCardRoullate', function (data) {
    $('#example1').DataTable().ajax.reload(function() {
        var currentDateTime = getCurrentDateTime();

        let totalChips = 0;
        let uniqueUsers = new Set();

        Object.values(data.bets).forEach(bet => {
            bet.forEach(b => {
                totalChips += b.chip;
                uniqueUsers.add(b.playerId); 
            });
        });

        let totalUser = uniqueUsers.size;

        const existingRow = $('#example1 tbody').find(`td:contains('${data.room_id}')`).closest('tr');

        if (existingRow.length > 0) {
            existingRow.find('td:nth-child(4)').text(totalChips);
            existingRow.find('td:nth-child(8)').text(totalUser);
        } else {
            var newRow =
                '<tr class="gradeX">' +
                '<td>' + "1" + '</td>' +
                '<td>' + data.room_id + '</td>' +
                '<td >' + currentDateTime + '</td>' +
                '<td >' + totalChips + '</td>' +
                '<td >' + 0 + '</td>' +
                '<td >' + 0 + '</td>' +
                '<td >' + 0 + '</td>' +
                '<td >' + totalUser + '</td>' +
                '<td >' + " " + '</td>' +
                '<td >' + `<span class="label label-danger">Pending</span>` + '</td>' +
                '<td >' + `<a  href="<%= host%>/user/showSlotDetail/${data.room_id}/${GameId}"> <i class="fa fa-pencil"></i></a>` + '</td>' +
                '</tr>';

            $('#example1 tbody').prepend(newRow);
        }
    });
});

}
function getCurrentDateTime() {
    var now = new Date();

    var day = now.getDate();
    var month = now.getMonth() + 1; 
    var year = now.getFullYear();

    var hours = now.getHours();
    var minutes = now.getMinutes();
    var seconds = now.getSeconds();

    var period = "AM";
    if (hours > 12) {
        hours -= 12;
        period = "PM";
    }

    day = day < 10 ? "0" + day : day;
    month = month < 10 ? "0" + month : month;
    hours = hours < 10 ? "0" + hours : hours;
    minutes = minutes < 10 ? "0" + minutes : minutes;
    seconds = seconds < 10 ? "0" + seconds : seconds;

    var formattedDateTime = day + "/" + month + "/" + year + " " + hours + ":" + minutes + ":" + seconds + " " + period;

    return formattedDateTime;
}
    </script>