<%- include header %>
<style>
.title{
    margin: 0;
    font-size: 24px;
}
.dataTables_filter {
    display: none;
}

</style>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" rel="stylesheet" />
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="">
            <div class="row">
                <div class="col-md-4">
                    <h1 class='title'>
                        <%= title %>
                    </h1>
                </div>
                <div class="col-md-8">
                    <div class="pull-right">
                        <% if(admin.role=="Company"){%>
                        <select class="col select-rank" name="rank" style="width:152px;">
                            <option></option>
                            <option value="State">State</option>
                            <option value="Zone">Zone</option>
                            <option value="District">District</option>
                            <option value="Agent">Agent</option>
                            <option value="User">User</option>
                        </select>
                        <%}%>

                        <input type="date" class="col select-date" id="startdatepicker" name="StartDate" style="width: 152px; height: 34px; border-radius: 4px; border: 1px solid gray;">
                        <input type="date" class="col select-date" id="enddatepicker" name="EndDate" style="width: 152px; height: 34px; border-radius: 4px; border: 1px solid gray;">

                        </div>
                </div>
                <!-- <div class="row text-center pad-20"> -->
    
                <!-- </div> -->
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- /.box-header -->
                    <div class="box-body table-responsive">
<input type="hidden" value="<%= chip %>" id="chip">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S No</th>
                                    <th>User Details</th>
                                    <th>Sponsor Details</th>
                                    <th>Current Chip</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var i=1; for (d of data) {%>
                                <tr class="gradeX">
                                    <td><%= i++%></td>
                                    <td>
                                        <p><span style="color: #788ca8;">Unique Id</span>: <%= d.search_id %></p>
                                        <p><span style="color: rgb(207, 72, 72);">Full Name</span>: <%= d.name %></p>
                                    </td>
                                    <td>
                                        <p><span style="color: #788ca8;">Unique Id</span>: <%= d.parent.search_id %></p>
                                        <p><span style="color: rgb(207, 72, 72);">Full Name</span>: <%= d.parent.name %></p>
                                        <p><span style="color: rgb(207, 72, 72);">Role</span>: <%= d.parent.role %></p>
                                    </td>
                                    <td><%= d.cash_balance %></td>
                                    <td><%= d.role %></td>

                                </tr>
                            <% }%>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<!-- Modal -->
<div id="remark" class="modal fade remark" role="dialog">
    <div class="modal-dialog modal-sm">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Remark</h4>
            </div>
            <div class="modal-body" id="modal-body-remark">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<%- include footer %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>

