<%- include header %>
<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .card-body {
    background-color: #f8f9fa;
    padding: 10px;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= title %>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="col-md-12 flex-fill">
          <h3>Roulette</h3>
          <div class="box box-danger">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Rank Id</th>
                  <th>Rank Name</th>
                  <th>Available</th>
                  <th>DownLine</th>
                  <th>Own Commission</th>
                  <th>Minimum Commission</th>
                </tr>
                <% for (const d of data.RoulleteData) { %>
                  <tr data-rank-id="<%= d.rankId %>" data-game-type="Roulette">
                    <input type="hidden" id="gameTypeRoulette" class="form-control" value="Roulette" readonly>
                    <td>
                      <input type="number" id="rankIdRoulette<%= d.rankId %>" class="form-control" value="<%= d.rankId %>" readonly>
                    </td>
                    <td>
                      <input id="rankNameRoulette<%= d.rankId %>" class="form-control" value="<%= d.rankName %>" readonly>
                    </td>
                    <td>
                      <input id="availableCommissionRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.availableCommission ?? 0 %>" oninput="updateOwnCommission('Roulette', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="downlineRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.downline ?? 0 %>" oninput="updateOwnCommission('Roulette', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="ownCommissionRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.ownCommission ?? 0 %>" readonly>
                    </td>
                    <td>
                      <input id="minCommissionRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.minCommission ?? 0 %>" >
                    </td>
                  </tr>
                <% } %>
                <tr>
                  <td>
                    <button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="saveCommission('Roulette')">
                      Save
                    </button>
                    
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex">
        <div class="col-md-12 flex-fill">
          <h3>Avaitor</h3>
          <div class="box box-danger">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Rank Id</th>
                  <th>Rank Name</th>
                  <th>Available</th>
                  <th>DownLine</th>
                  <th>Own Commission</th>
                  <th>Minimum Commission</th>
                </tr>
                <% for (const d of data.AvaitorData) { %>
                  <tr data-rank-id="<%= d.rankId %>" data-game-type="Aviator">
                    <input type="hidden" id="gameTypeAviator" class="form-control" value="Aviator" readonly>
                    <td>
                      <input type="number" id="rankIdAviator<%= d.rankId %>" class="form-control" value="<%= d.rankId %>" readonly>
                    </td>
                    <td>
                      <input id="rankNameAviator<%= d.rankId %>" class="form-control" value="<%= d.rankName %>" readonly>
                    </td>
                    <td>
                      <input id="availableCommissionAviator<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.availableCommission ?? 0 %>" oninput="updateOwnCommission('Aviator', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="downlineAviator<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.downline ?? 0 %>" oninput="updateOwnCommission('Aviator', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="ownCommissionAviator<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.ownCommission ?? 0 %>" readonly>
                    </td>
                    <td>
                      <input id="minCommissionAviator<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.minCommission ?? 0 %>" >
                    </td>
                  </tr>
                <% } %>
                <tr>
                  <td>
                    <button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="saveCommission('Aviator')">
                      Save
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12 d-flex">
        <div class="col-md-12 flex-fill">
          <h3>Card Roulette</h3>
          <div class="box box-danger">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Rank Id</th>
                  <th>Rank Name</th>
                  <th>Available</th>
                  <th>DownLine</th>
                  <th>Own Commission</th>
                  <th>Minimum Commission</th>
                </tr>
                <% for (const d of data.CardRoulleteData) { %>
                  <tr data-rank-id="<%= d.rankId %>" data-game-type="CardRoulette">
                    <input type="hidden" id="gameTypeCardRoulette" class="form-control" value="CardRoulette" readonly>
                    <td>
                      <input type="number" id="rankIdCardRoulette<%= d.rankId %>" class="form-control" value="<%= d.rankId %>" readonly>
                    </td>
                    <td>
                      <input id="rankNameCardRoulette<%= d.rankId %>" class="form-control" value="<%= d.rankName %>" readonly>
                    </td>
                    <td>
                      <input id="availableCommissionCardRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.availableCommission ?? 0 %>" oninput="updateOwnCommission('CardRoulette', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="downlineCardRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.downline ?? 0 %>" oninput="updateOwnCommission('CardRoulette', <%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="ownCommissionCardRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.ownCommission ?? 0 %>" readonly>
                    </td>
                    <td>
                      <input id="minCommissionCardRoulette<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.minCommission ?? 0 %>" >
                    </td>
                  </tr>
                <% } %>
                <tr>
                  <td>
                    <button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="saveCommission('CardRoulette')">
                      Save
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include footer %>
<script>
const updateOwnCommission = (gameType, rankId) => {
  const availableValue = parseFloat(document.getElementById(`availableCommission${gameType}${rankId}`).value) || 0;
  const downlineValue = parseFloat(document.getElementById(`downline${gameType}${rankId}`).value) || 0;
  const ownCommissionElement = document.getElementById(`ownCommission${gameType}${rankId}`);
  const ownCommissionValue = availableValue - downlineValue;

  ownCommissionElement.value = ownCommissionValue;
};

const saveCommission = (gameType) => {
  const dataRows = document.querySelectorAll(`tr[data-rank-id][data-game-type="${gameType}"]`);
const rowData = [];

dataRows.forEach((row) => {
  const rankId = row.getAttribute("data-rank-id");
  const rankName = document.getElementById(`rankName${gameType}${rankId}`).value;
  const availableCommission = document.getElementById(`availableCommission${gameType}${rankId}`).value;
  const downline = document.getElementById(`downline${gameType}${rankId}`).value;
  const ownCommission = document.getElementById(`ownCommission${gameType}${rankId}`).value;
  const minCommission = document.getElementById(`minCommission${gameType}${rankId}`).value;

  rowData.push({ rankId, rankName, availableCommission, downline, ownCommission, minCommission });
});

  fetch("/admin/saveCommission-mgt", {
    method: "POST",
    body: JSON.stringify({ gameType, rowData }),
    headers: {
      "Content-Type": "application/json",
    },
  })
    .then((response) => response.json())
    .then((response) => {
      const title = response.status == 1 ? "Success" : "Error";
      swal({
        icon: response.status == 1 ? "success" : "error",
        title: response.Msg,
      }).then(() => {
        if (response.status == 1) {
          window.location.reload();
        }
      });
    })
    .catch((error) => {
      console.log(error);
      swal({ icon: "error", title: "An error occurred" }).then(() => {
        window.location.reload();
      });
    });
};


</script>
