<%- include header %>
<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .card-body {
    background-color: #f8f9fa;
    padding: 10px;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= title %>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="col-md-12 flex-fill">
          <h3>Roulette</h3>
          <div class="box box-danger">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <th>Rank Id</th>
                  <th>Rank Name</th>
                  <th>Available</th>
                  <th>DownLine</th>
                  <th>Own Commission</th>
                  <th>Minimum Commission</th>
                </tr>
                <% for (const d of data.RankData) { %>
                  <tr data-rank-id="<%= d.rankId %>">
                    <input type="hidden" id="gameType" class="form-control" value="Roulette" readonly>
                    <td>
                      <input type="number" id="rankId<%= d.rankId %>" class="form-control" value="<%= d.rankId %>" readonly>
                    </td>
                    <td>
                      <input id="rankName<%= d.rankId %>" class="form-control" value="<%= d.rankName %>" readonly>
                    </td>
                    <td>
                      <input id="availableCommission<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.availableCommission ?? 0 %>" oninput="updateOwnCommission(<%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="downline<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.downline ?? 0 %>" oninput="updateOwnCommission(<%= d.rankId %>)">
                    </td>
                    <td>
                      <input id="ownCommission<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.ownCommission ?? 0 %>" readonly>
                    </td>
                    <td>
                      <input id="minCommission<%= d.rankId %>" class="form-control" value="<%= d?.commissionData.minCommission ?? 0 %>" >
                    </td>
                  </tr>
                <% } %>
                <tr>
                  <td>
                    <button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="saveCommission()">
                      Save
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include footer %>
<script>
  const updateOwnCommission = (rankId) => {
    const availableValue = parseFloat(document.getElementById(`availableCommission${rankId}`).value) || 0;
    const downlineValue = parseFloat(document.getElementById(`downline${rankId}`).value) || 0;
    const ownCommissionElement = document.getElementById(`ownCommission${rankId}`);
    const ownCommissionValue = availableValue - downlineValue;

    ownCommissionElement.value = ownCommissionValue;
  };

  const saveCommission = () => {
    const gameType = document.getElementById("gameType").value;
    const dataRows = document.querySelectorAll('tr[data-rank-id]');
    const rowData = [];

    dataRows.forEach(row => {
      const rankId = row.getAttribute('data-rank-id');
      const rankName = document.getElementById(`rankName${rankId}`).value;
      const availableCommission = document.getElementById(`availableCommission${rankId}`).value;
      const downline = document.getElementById(`downline${rankId}`).value;
      const ownCommission = document.getElementById(`ownCommission${rankId}`).value;
      const minCommission = document.getElementById(`minCommission${rankId}`).value;

      rowData.push({ rankId, rankName, availableCommission, downline, ownCommission, minCommission });
    });

    fetch("/admin/saveCommission-mgt", {
      method: "POST",
      body: JSON.stringify({ gameType, rowData }),
      headers: {
        "Content-Type": "application/json",
      },
    })
    .then(response => response.json())
    .then(response => {
      const title = response.status == 1 ? "Success" : "Error";
      swal({
        icon: response.status == 1 ? "success" : "error",
        title: response.Msg
      }).then(() => {
        if(response.status == 1){
          window.location.reload();
        }
      });
    })
    .catch((error) => {
      console.log(error);
      swal({ icon: "error", title: "An error occurred" }).then(() => {
        window.location.reload();
      });
    });
  };
</script>
