<%- include header %>
  <style>
    .card {
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 10px;
    }

    .card-body {
      background-color: #f8f9fa;
      padding: 10px;
    }
  </style>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-md-12 d-flex">
            
          <div class="col-md-6 flex-fill">
              <h3>State</h3>
            <div class="box box-danger">
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Min</th>
                    <td>
                      <input type="number" id="stateRoullete" class="form-control"
                        value="<%- data?.State[0]?.Roullete %>">
                    </td>
                  </tr>
                  <tr>
                    <th>Max</th>
                    <td>
                      <input type="number" id="stateAvaitor" class="form-control"
                        value="<%- data?.State[0]?.Avaitor %>">
                    </td>
                  </tr>
                  <tr>
                    <td><button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="saveSettingsState()">
                        Save
                    </button></td>
                </tr>
                </table>
              </div>
            </div>
          </div>
                <div class="col-md-6 flex-fill">
              <h3>District</h3>
            <div class="box box-danger">
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Min</th>
                    <td>
                      <input type="number" id="districtRoullete" class="form-control" value="<%- data?.District[0]?.Roullete %>">
                    </td>
                  </tr>
                  <tr>
                    <th>Max</th>
                    <td>
                      <input type="number" id="districtAvaitor" class="form-control" value="<%- data?.District[0]?.Avaitor %>">
                    </td>
                  </tr>
                  <tr>
                    <td><button type="button" id="typeDistrict" data-type="District" class="btn btn-success" onclick="saveSettingsDistrict()">
                        Save
                    </button></td>
                </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="col-md-6 flex-fill">
              <h3>Zone</h3>
            <div class="box box-danger">
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Min</th>
                    <td>
                      <input type="number" id="zoneRoullete" class="form-control"
                        value="<%- data?.Zone[0]?.Roullete %>" >
                    </td>
                  </tr>
                  <tr>
                    <th>Max</th>
                    <td>
                      <input type="number" id="zoneAvaitor" class="form-control"
                        value="<%- data?.Zone[0]?.Avaitor %>" >
                    </td>
                  </tr>
                  <tr>
                    <td><button type="button" id="typeZone" data-type="Zone" class="btn btn-success" onclick="saveSettingsZone()">
                        Save
                    </button></td>
                </tr>
                </table>
              </div>
            </div>
          </div>
                <div class="col-md-6 flex-fill">
              <h3>Agent</h3>
            <div class="box box-danger">
              <div class="box-body">
                <table class="table table-bordered">
                  <tr>
                    <th>Min</th>
                    <td>
                      <input type="number" id="agentRoullete" class="form-control" value="<%- data?.Agent[0]?.Roullete %>">
                    </td>
                  </tr>
                  <tr>
                    <th>Max</th>
                    <td>
                      <input type="number" id="agentAvaitor" class="form-control" value="<%- data?.Agent[0]?.Avaitor %>">
                    </td>
                  </tr>
                  <tr>
                    <td><button type="button" id="typeAgent" data-type="Agent" class="btn btn-success" onclick="saveSettingsAgent()">
                        Save
                    </button></td>
                </tr>
                </table>
              </div>
            </div>
          </div>
       
        </div>
       
      </div>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%- include footer %>
  <script>
    const saveSettingsCompany = () => {
     
      const Roullete = document.getElementById("Roullete").value;
      const Avaitor = document.getElementById("Avaitor").value;
      const type = document.getElementById("type").getAttribute("data-type"); 
      fetch("/admin/saveCommission-limit", {
        method: "POST",
        body: JSON.stringify({  Avaitor, Roullete,type }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
        .then(response => {
          const title = response.status == 1 ? "Success" : "Error";
          swal({
            icon: response.status == 1 ? "success" : "error",
            title: response.Msg
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
          swal({ icon: "error", title: "An error occurred" }).then(() => {
            window.location.reload();
          });
        });
    };
    const saveSettingsState = () => {

      const Roullete = document.getElementById("stateRoullete").value;
      const Avaitor = document.getElementById("stateAvaitor").value;
 
      const type = document.getElementById("typeState").getAttribute("data-type"); 
      fetch("/admin/saveCommission-limit", {
        method: "POST",
        body: JSON.stringify({  Avaitor, Roullete,type }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
        .then(response => {
          const title = response.status == 1 ? "Success" : "Error";
          swal({
            icon: response.status == 1 ? "success" : "error",
            title: response.Msg
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
          swal({ icon: "error", title: "An error occurred" }).then(() => {
            window.location.reload();
          });
        });
    };
    const saveSettingsDistrict = () => {

      const Roullete = document.getElementById("districtRoullete").value;
      const Avaitor = document.getElementById("districtAvaitor").value;
      const type = document.getElementById("typeDistrict").getAttribute("data-type"); 
      fetch("/admin/saveCommission-limit", {
        method: "POST",
        body: JSON.stringify({  Avaitor, Roullete,type }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
        .then(response => {
          const title = response.status == 1 ? "Success" : "Error";
          swal({
            icon: response.status == 1 ? "success" : "error",
            title: response.Msg
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
          swal({ icon: "error", title: "An error occurred" }).then(() => {
            window.location.reload();
          });
        });
    };
    const saveSettingsZone = () => {
      const Roullete = document.getElementById("zoneRoullete").value;
      const Avaitor = document.getElementById("zoneAvaitor").value;
      const type = document.getElementById("typeZone").getAttribute("data-type"); 
      fetch("/admin/saveCommission-limit", {
        method: "POST",
        body: JSON.stringify({  Avaitor, Roullete,type }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
        .then(response => {
          const title = response.status == 1 ? "Success" : "Error";
          swal({
            icon: response.status == 1 ? "success" : "error",
            title: response.Msg
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
          swal({ icon: "error", title: "An error occurred" }).then(() => {
            window.location.reload();
          });
        });
    };
    const saveSettingsAgent = () => {
     
      const Roullete = document.getElementById("agentRoullete").value;
      const Avaitor = document.getElementById("agentAvaitor").value;
      const type = document.getElementById("typeAgent").getAttribute("data-type"); 
      fetch("/admin/saveCommission-limit", {
        method: "POST",
        body: JSON.stringify({ CarRoullete, Avaitor, Roullete,type }),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
        .then(response => {
          const title = response.status == 1 ? "Success" : "Error";
          swal({
            icon: response.status == 1 ? "success" : "error",
            title: response.Msg
          }).then(() => {
            window.location.reload();
          });
        })
        .catch((error) => {
          console.log(error);
          swal({ icon: "error", title: "An error occurred" }).then(() => {
            window.location.reload();
          });
        });
    };

  </script>