<%- include header %>
    <script src="https://cdn.tiny.cloud/1/zxhzexqmkxeojbqr45xowtf8vbc334luwa4l1ienuizezw8z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>


    <style>
        .nomargin {
            margin: 0px;
        }

        #container {
            width: 1000px;
            margin: 20px auto;
        }

        .ck-editor__editable[role="textbox"] {
            /* editing area */
            min-height: 200px;
        }

        .ck-content .image {
            /* block images */
            max-width: 80%;
            margin: 20px auto;
        }
    </style>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper <%- (admin.role == 'DASHBOARD') ? 'nomargin' : ''%>">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= title %>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <!-- Agent Details -->
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-header with-border">
                            <h3 class="box-title">Fill Blog Details</h3>
                        </div>
                        <div class="box-body">
                            <form name="distribuotrUpdate" id="formDistributorUpdate" enctype="multipart/form-data">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="hidden" name="_id" value=<%= data._id %>>
                                        <label for="title1">Title</label>
                                        <input type="text" class="form-control" id="title" placeholder="Enter Title"
                                            name="title" value="<%= data.title %>" data-validation="required">
                                    </div>
                                    <div class="form-group">
                                        <label for="body">body</label>
                                        <textarea id="editor"><%= data.body %></textarea>
                                    </div>

                                    <div class="form-group">
                                        <label for="profilePicture">Upload Blog Image</label>
                                        <input type="file" accept="image/png, .jpeg, .jpg" class="form-control-file"
                                            id="profilePicture" placeholder="Upload Profile Picture" name="blogPicture"
                                             data-validation="required">
                                            <img src= "<%= config.live_url+data.image %>" style="width:504px;height:228px" />

                                    </div>

                                    <h4 id="loaderbtn" style="display: none"><i class="fa fa-spinner fa-spin"
                                            style="color: #000"></i> Loading</h4>
                                    <button type="submit" class="btn btn-success pull-right"
                                        id="btnDistributorUpdate">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- /.content-wrapper -->
    <%- include footer %>
        <script
            src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
        <script>
            $(document).ready(function () {
                // $.validate({
                //     modules: 'html5, security'
                // });
                $('#formDistributorUpdate').on('submit', function (e) {
                    e.preventDefault();
                    $("#btnDistributorUpdate").hide();
                    $("#loaderbtn").show();
                    let formdata = new FormData(this);
                    formdata.append('body', tinymce.get('editor').getContent());
                    $.ajax({
                        method: 'post',
                        url: '/blog/update',
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            if (response.status == 1) {
                                console.log(response);
                                swal({
                                    icon: 'success',
                                    title: response.message
                                }).then(function () {
                                    window.location.reload();
                                });
                                $("#btnDistributorUpdate").show();
                                $("#loaderbtn").hide();
                            } else {
                                console.log(response);
                                swal({
                                    icon: 'error',
                                    title: response.message,
                                }).then(function () {
                                    window.location.reload();
                                });
                                $("#btnDistributorUpdate").show();
                                $("#loaderbtn").hide();
                            }
                        }
                    });
                });
            });
        </script>
        <script>
            const useDarkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
            const isSmallScreen = window.matchMedia('(max-width: 1023.5px)').matches;
            tinymce.init({
                selector: '#editor',
                plugins: 'preview importcss searchreplace autolink autosave save directionality code visualblocks visualchars fullscreen image link media template codesample table charmap pagebreak nonbreaking anchor insertdatetime advlist lists wordcount help charmap quickbars emoticons',
                editimage_cors_hosts: ['picsum.photos'],
                menubar: 'file edit view insert format tools table help',
                toolbar: 'undo redo | bold italic underline strikethrough | fontfamily fontsize blocks | alignleft aligncenter alignright alignjustify | outdent indent |  numlist bullist | forecolor backcolor removeformat | pagebreak | charmap emoticons | fullscreen  preview save print | insertfile image media template link anchor codesample | ltr rtl',
                toolbar_sticky: true,
                toolbar_sticky_offset: isSmallScreen ? 102 : 108,
                autosave_ask_before_unload: true,
                autosave_interval: '30s',
                autosave_prefix: '{path}{query}-{id}-',
                autosave_restore_when_empty: false,
                autosave_retention: '2m',
                image_advtab: true,
                link_list: [{
                    title: 'My page 1',
                    value: 'https://www.tiny.cloud'
                },
                {
                    title: 'My page 2',
                    value: 'http://www.moxiecode.com'
                }
                ],
                image_list: [{
                    title: 'My page 1',
                    value: 'https://www.tiny.cloud'
                },
                {
                    title: 'My page 2',
                    value: 'http://www.moxiecode.com'
                }
                ],
                image_class_list: [{
                    title: 'None',
                    value: ''
                },
                {
                    title: 'Some class',
                    value: 'class-name'
                }
                ],
                importcss_append: true,
                file_picker_callback: (callback, value, meta) => {
                    /* Provide file and text for the link dialog */
                    if (meta.filetype === 'file') {
                        callback('https://www.google.com/logos/google.jpg', {
                            text: 'My text'
                        });
                    }
                    /* Provide image and alt text for the image dialog */
                    if (meta.filetype === 'image') {
                        callback('https://www.google.com/logos/google.jpg', {
                            alt: 'My alt text'
                        });
                    }
                    /* Provide alternative source and posted for the media dialog */
                    if (meta.filetype === 'media') {
                        callback('movie.mp4', {
                            source2: 'alt.ogg',
                            poster: 'https://www.google.com/logos/google.jpg'
                        });
                    }
                },
                templates: [{
                    title: 'New Table',
                    description: 'creates a new table',
                    content: '<div class="mceTmpl"><table width="98%%"  border="0" cellspacing="0" cellpadding="0"><tr><th scope="col"> </th><th scope="col"> </th></tr><tr><td> </td><td> </td></tr></table></div>'
                },
                {
                    title: 'Starting my story',
                    description: 'A cure for writers block',
                    content: 'Once upon a time...'
                },
                {
                    title: 'New list with dates',
                    description: 'New List with dates',
                    content: '<div class="mceTmpl"><span class="cdate">cdate</span><br><span class="mdate">mdate</span><h2>My List</h2><ul><li></li><li></li></ul></div>'
                }
                ],
                template_cdate_format: '[Date Created (CDATE): %m/%d/%Y : %H:%M:%S]',
                template_mdate_format: '[Date Modified (MDATE): %m/%d/%Y : %H:%M:%S]',
                height: 600,
                image_caption: true,
                quickbars_selection_toolbar: 'bold italic | quicklink h2 h3 blockquote quickimage quicktable',
                noneditable_class: 'mceNonEditable',
                toolbar_mode: 'sliding',
                contextmenu: 'link image table',
                skin: useDarkMode ? 'oxide-dark' : 'oxide',
                content_css: useDarkMode ? 'dark' : 'default',
                content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:16px }',
               // images_upload_url: '<%= process.env.ADMIN_BASE %>' + "/upload/tinyimages",
                images_upload_url: '<%= process.env.ADMIN_BASE %>' + "/tinyimages",
                // images_upload_base_path: "https://www.orioninfosolutions.com/blog"
            });


            function changeBannerShow(type) {
                $.ajax({
                    method: "post",
                    url: "/blog/publish_blog",
                    data: { status: type },
                    success: function (response) {
                        if (response.status == 1) {
                            console.log(response);
                            swal({
                                icon: "success",
                                title: response.Msg,
                            }).then(function () {
                                window.location.reload();
                            });
                        } else {
                            console.log(response);
                            swal({
                                icon: "error",
                                title: response.Msg,
                            }).then(function () {
                                window.location.reload();
                            });
                        }
                    },
                });
            }

        </script>