<%- include header %>
<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
  }

  .card-body {
    background-color: #f8f9fa;
    padding: 10px;
  }
</style>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      <%= title %>
    </h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex">
        <div class="col-md-12 flex-fill">
          <div class="box box-danger">
            <div class="box-body">
              <table class="table table-bordered">
                <%- console.log(data.MainData[0].avaitor) %>
                <tr>
                  <th>Card Roullete</th>
                  <td><input type="text" name="" id="cro" value="<%- data.MainData[0].cardRoulleteM %>"  class="form-control"></td>
                  <input type="hidden" id="undermaintenance" value="<%- data.MainData[0].cardRoullete %>">
                  <td id="undermaintenanceTd" style="width: 87px;">
                    <% if (data.MainData[0].cardRoullete=='1' ) { %>
                      <button type="button" class="btn btn-success" onclick="changeGameMode('0')" style="width: 70px;">
                        On
                      </button>
                    <% } else { %>
                      <button type="button" class="btn btn-danger" onclick="changeGameMode('1')"  style="width: 70px;">
                        Off
                      </button>
                    <% } %>
                  </td>
                </tr>
                <tr>
                  <th>Avaitor</th>
                  <td><input type="text" name="" id="av" class="form-control"></td>
                  <input type="hidden" id="avaitorData" value="<%- data.MainData[0].avaitor %>">
                  <td id="avaitorDataTd">
                    <% if (data.MainData[0].avaitor=='1' ) { %>
                      <button type="button" class="btn btn-success" onclick="changeGameModeAvaitor('0')" style="width: 70px;">
                          On
                        </button>
                      <% } else { %>
                        <button type="button" class="btn btn-danger" onclick="changeGameModeAvaitor('1')"style="width: 70px;">
                          Off
                        </button>
                      <% } %>
                  </td>
                </tr>
                <tr>
                  <th>Roullete:</th>
                  <td><input type="text" name="" id="ro" class="form-control"></td>
                  <input type="hidden" id="Roullete" value="<%- data.MainData[0].roullete %>">
                  <td id="RoulleteTd">
                    <% if (data.MainData[0].roullete=='1' ) { %>
                      <button type="button" class="btn btn-success" onclick="changeGameModeRoullte('0')" style="width: 70px;">
                          On
                        </button>
                      <% } else { %>
                        <button type="button" class="btn btn-danger" onclick="changeGameModeRoullte('1')" style="width: 70px;">
                          Off
                        </button>
                      <% } %>
                  </td>
                </tr>
                <tr>
                  <td><button type="button" id="typeState" data-type="State" class="btn btn-success" onclick="updateGameSetting()">
                      Save
                  </button></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
<%- include footer %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/he@1.2.0/he.js"></script>
<script>
  let data = "<%= JSON.stringify(data.MainData[0]) %>";
  const decodedData = he.decode(data);
  const jsonData = JSON.parse(decodedData);
  data = jsonData;
  function changeGameMode(type) {
    // console.log(type);
    $("#undermaintenance").val(type);
    $("#undermaintenanceTd").html('<button type="button" style="width: 70px;" class="btn btn-' + (type == '0' ? 'danger' : 'success') + '" onclick="changeGameMode(\'' + (type == '0' ? '1' : '0') + '\')">' + (type == '0' ? 'Off' : 'On') + '</button>');
  }

  function changeGameModeAvaitor(type) {
    // console.log(type);
    $("#avaitorData").val(type);
    $("#avaitorDataTd").html('<button type="button" style="width: 70px;" class="btn btn-' + (type == '0' ? 'danger' : 'success') + '" onclick="changeGameModeAvaitor(\'' + (type == '0' ? '1' : '0') + '\')">' + (type == '0' ? 'Off' : 'On') + '</button>');
  }

  function changeGameModeRoullte(type) {
    // console.log(type);
    $("#Roullete").val(type);
    $("#RoulleteTd").html('<button type="button" style="width: 70px;" class="btn btn-' + (type == '0' ? 'danger' : 'success') + '" onclick="changeGameModeRoullte(\'' + (type == '0' ? '1' : '0') + '\')">' + (type == '0' ? 'Off' : 'On') + '</button>');
  }

  const updateGameSetting = (value) => {
  const cardRoullete = document.getElementById("undermaintenance").value;
  const cardRoulleteMassage = document.getElementById("cro").value;
  const avaitorData = document.getElementById("avaitorData").value;
  const avaitorDataMassage = document.getElementById("av").value;
  const Roullete = document.getElementById("Roullete").value;
  const RoulleteMassage = document.getElementById("ro").value;
  
  const socket = io('http://localhost:3070');

      let eventEmitted = false;
      let eventdata = {}
      // function emitEventOnce() {
      //   if (!eventEmitted) { 
      //         socket.emit('gameStatus', {  avaitor: avaitorData, roullete: Roullete, cardRoullete: cardRoullete });
      //         eventEmitted = true;
      //     }
      // }
      // emitEventOnce();  
  console.log(cardRoullete, avaitorData,Roullete, avaitorDataMassage , cardRoulleteMassage , RoulleteMassage);
    if(cardRoullete ==0 || avaitorData == 0|| Roullete ==0){
      console.log("please fill input")
      if(avaitorData ==0 && avaitorDataMassage == "" ){
        swal({ icon: "error", title: "Please fill input" }).then(() => {
          window.location.reload();
        });
        return
      }
      if(cardRoullete ==0 && cardRoulleteMassage == "" ){
        swal({ icon: "error", title: "Please fill input" }).then(() => {
          window.location.reload();
        })
        return
      }
      if(Roullete ==0 && RoulleteMassage == "" ){
        swal({ icon: "error", title: "Please fill input" }).then(() => {
          window.location.reload();
        })
        return
      }
    }

    fetch("/admin/upadte-game-setting", {
      method: "POST",
      body: JSON.stringify({ cardRoullete, avaitorData,Roullete ,cardRoulleteMassage,avaitorDataMassage,RoulleteMassage}),
      headers: {
        "Content-Type": "application/json",
      },
    })
    .then(response => response.json())
      .then(response => {
        let details = response.data
        console.log(details.roullete , Roullete)
        if (details.roullete != Roullete) {
          eventdata.roullete = Roullete
          eventdata.roulleteMassage = RoulleteMassage
        }
        if(details.cardRoullete != cardRoullete){
          eventdata.cardRoullete = cardRoullete
          eventdata.cardRoulleteMassage = cardRoulleteMassage
        }
        if(details.avaitor != avaitorData){
          eventdata.avaitor = avaitorData
          eventdata.avaitorMassage = avaitorDataMassage
        }
        const title = response.status == 1 ? "Success" : "Error";
        swal({
          icon: response.status == 1 ? "success" : "error",
          title: response.Msg
        }).then(() => {
          function emitEventOnce() {
          if (!eventEmitted) { 
              console.log("eventdata",eventdata)
              socket.emit('gameStatus', eventdata );
              eventEmitted = true;
          }
          }
         emitEventOnce(); 
          window.location.reload();
        });
      })
      .catch((error) => {
        console.log(error);
        swal({ icon: "error", title: "An Error Occurred" }).then(() => {
          window.location.reload();
        });
      });
  };
</script>

<script>
   document.addEventListener("DOMContentLoaded", function () {
    const socket = io('http://localhost:3070');

    let eventEmitted = false;

    function emitEventOnce() {
        if (!eventEmitted) {
            const avaitor = document.getElementById("avaitorData").value;
            const roullete = document.getElementById("Roullete").value;
            const cardRoullete = document.getElementById("undermaintenance").value;
            socket.emit('gameStatus', {  avaitor: avaitor, roullete: roullete, cardRoullete: cardRoullete });
            eventEmitted = true;
        }
    }

    emitEventOnce();


    let avaitorDataValue = "<%- data.MainData[0].avaitor %>";
  let roulleteDataValue = "<%- data.MainData[0].roullete %>";
  let cardRoulleteDataValue = "<%- data.MainData[0].cardRoullete %>";
  console.log(avaitorDataValue)
  if(avaitorDataValue=='0'){
    document.getElementById("av").value =  data.avaitorM;
    document.getElementById("av").disabled = true;
  }
  if (roulleteDataValue == '0') {
    document.getElementById("ro").value = data.roulleteM 
    document.getElementById("ro").disabled = true;
  }
  if (cardRoulleteDataValue == '0') {
    document.getElementById("cro").value = data.cardRoulleteM 
    document.getElementById("cro").disabled = true;
  }
});

</script>