<%- include header %><!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <%= title %>
      </h1>
    </section>
    <!-- Main content -->
    <section class="content container-fluid">
      <div class="row">
        <div class="col-md-6 flex-fill">
          <div class="box box-danger" style="width: fit-content; min-width: 100%">
            <div class="box-body">
              <table class="table table-bordered">
                <tr>
                  <td>Parent Id</td>
                  <td>
                    <input name="name" id="parentId" class="form-control" value="<%=data.parent.search_id%>"  readonly></input>
                  </td>
                </tr>
                <tr>
                  <td>Parent Name</td>
                  <td>
                    <input name="name" id="parentName" class="form-control" value="<%=data.parent.name%>"  readonly></input>
                  </td>
                </tr>
                <tr>
                  <td>Name</td>
                  <td>
                    <input name="name" id="name" class="form-control" placeholder="Enter your Name here...." value="<%=data.user.name%>"></input>
                  </td>
                </tr>
                <tr>
                  <td>Email</td>
                  <td>
                    <input name="email" id="email" class="form-control" placeholder="Enter your Email here...." value="<%=data.user.email%>"></input>
                  </td>
                </tr>
                <tr>
                    <td>Role</td>
                    <td>
                      <input name="role" id="role" value="<%= data.user.role %>" class="form-control" placeholder="Enter your rules here...." readonly>
                      
                    </td>
                  </tr>
                  <tr>
                    <td>Security Pin</td>
                    <td>
                      <input name="securityPin" id="securityPin"  class="form-control" placeholder="Enter Security Pin here...." maxlength="4">
                      
                    </td>
                  </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-success" onclick="saveSettings()">
                      Save
                    </button>
                  </td>
                  <td></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include footer %>
    <script>
      const saveSettings = () => {
        const securityPin = document.getElementById("securityPin").value;
        const parentId = document.getElementById("parentId").value;
        const parentName = document.getElementById("parentName").value;
        const name = document.getElementById("name").value;
        const email = document.getElementById("email").value;
        const role = document.getElementById("role").value;
      
        fetch("/admin/saveModifyPlayerData", {
          method: "POST",
          body: JSON.stringify({ name, email,role,parentName,parentId,securityPin }),
          headers: {
            "Content-Type": "application/json",
          },
        })
        .then(response => response.json())
          .then(response => {
            const title = response.status == 1 ? "Success" : "Error";
            swal({
              icon: response.status == 1 ? "success" : "error",
              title: response.Msg
            }).then(() => {
              window.location.reload();
            });
          })
          .catch((error) => {
            console.log(error);
            swal({ icon: "error", title: "An error occurred" }).then(() => {
              window.location.reload();
            });
          });
      };
    </script>