<%- include header %><!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1><%= title %></h1>
  </section>
  <!-- Main content -->
  <section class="content container-fluid">
    <div class="row">
      <div class="col-md-6 flex-fill">
        <div class="box box-danger" style="width: fit-content; min-width: 100%">
          <div class="box-body">
            <table class="table table-bordered">
                <tr>
                    <td>User List</td>
                    <td>
                      <select
                        name="userlist"
                        id="userlist"
                        class="form-control"
                        
                      >
                       <% data.map((searchId) => {%>
                        <option value="<%= searchId.search_id %>" ><%= searchId.search_id %></option>
                        <% }); %>
                      
                      
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td>Notice Title English</td>
                    <td>
                      <input name="noticeTitle" id="noticeTitle" class="form-control"  ></input>
                    </td>
                  </tr>
              <tr>
                <td>Notice</td>
                <td>
                  <textarea
                    name="notice"
                    id="notice"
                    class="form-control"
                    placeholder="Enter your notice here...."
                  ></textarea>
                </td>
              </tr>
           

              <tr>
                <td>
                  <button
                    type="button"
                    class="btn btn-success"
                    onclick="saveSettings()"
                  >
                    Save
                  </button>
                </td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<%- include footer %>
<script>

   
    const saveSettings = () => {
      const notice = document.getElementById("notice").value;
      const userList = document.getElementById("userlist").value;
      const noticeTitle  = document.getElementById("noticeTitle").value;
     

      fetch("/addnoticelist", {
        method: "POST",
        body: JSON.stringify({ notice, userList, noticeTitle}),
        headers: {
          "Content-Type": "application/json",
        },
      })
      .then(response => response.json())
       .then((data) => {
          console.log("Data" , data);
       })
       
    };
</script>
