<%- include header %><!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                <%= title %>
            </h1>
        </section>
        <!-- Main content -->
        <section class="content container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S No</th>
                                        <th>Slot No</th>
                                        <th>User Detail</th>
                                        <%if(gameId != 3){%>                                            
                                            <th>Bet On</th>
                                            <th>Quantity</th>
                                        <%}%>
                                        <!-- <th>Per Item</th> -->
                                        <th>Bet Amount</th>
                                        <th>Result Status</th>
                                        <th>Win Amount </th>
                                        <th>Created At</th>
                                        <th>Cashout At</th>
                                        <th>Cashout Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% var i=1; for (d of data) {%>
                                    <% console.log(gameId)%>
                                    <% console.log("data--------",d)%>
                               
                                        <tr class="gradeX">
                                            <td>
                                                <%= i++ %>
                                            </td>
                                            <td>
                                                <p style="color: #788ca8;"><%= d.room_id %></p>
                                             
                                            </td>
                                            <td>
                                                <p><%= d.username %>(<%= d.search_id %>)</p>
                                            </td>
                                           
                                            <%if(gameId==1){%>
                                                <td>
                                                    <a href="<%= host%>/user/showBetDetail/<%= roomId%>/<%=gameId%>/<%= d.search_id %>"  class="on-editing save-row">
                                                        <span class="label label-success">Details</span>
                                                    </a>
                                                </td>
                                                
                                                
                                            <%}else{%>
                                                <%if(gameId !=3){%>
                                                <td>
                                                    <p><%= d.spot %></p>
                                                </td>
                                            <%}%>
                                            <%}%>
                                            

                                            <!-- <td>
                                                <p><%= d.totalAmount %></p>
                                            </td> -->
                                            <td>
                                                <p><%= d.totalAmount %></p>
                                            </td>
                                                                                   
                                            <%if(d.is_updated=="1"){%>
                                                <td><span class="label label-success">Success</span></td>
                                            <%}else{%>

                                                <td><span class="label label-warning">Pending</span></td>
                                            <%}%>
                                            <td>
                                                <p><%= d.totalWinAmount %></p>
                                            </td>
                                            <td>
                                                <p><%= d.created %></p>
                                            </td>
                                            <%if(d.spot=="0"){%>
                                                <td>1</td>
                                            <%}else{%>

                                                <td>
                                                    <p><%= d.spot %></p>
                                                </td>
                                            <%}%>
                                            <%if(d.totalWinAmount>0){%>
                                                <td>true</td>
                                            <%}else{%>

                                                <td>false</td>
                                            <%}%>
                                          
                                   
                                        </tr>
                                        <% }%>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper --><%- include footer %>
        <script>
            $(document).ready(function (e) {
                function formateDateandTime(date) {
                    // console.log(data);
                    var dat = new Date(date);
                    var mon =
                        dat.getMonth() + 1 > 9
                            ? dat.getMonth() + 1
                            : "0" + parseInt(dat.getMonth() + parseInt(1));
                    var hours = dat.getHours() % 12;
                    hours = hours > 9 ? hours : "0" + hours;
                    var minutes = dat.getMinutes();
                    minutes = minutes > 9 ? minutes : "0" + minutes;
                    var ap = dat.getHours() >= 12 ? "PM" : "AM";
                    var day = dat.getDate() > 9 ? dat.getDate() : "0" + dat.getDate();
                    rez =
                        day +
                        "/" +
                        mon +
                        "/" +
                        dat.getFullYear() +
                        " " +
                        hours +
                        ":" +
                        minutes +
                        ap;
                    return rez;
                }
                // console.log(data);
                $("#usersTab").DataTable({
                    destroy: true,
                    dom: "lBfrtip",
                    lengthMenu: [
                        [10, 25, 100, 500],
                        [10, 25, 100, 500],
                    ],
                    pageLength: 10,
                    buttons: [
                        {
                            extend: "excel",
                            text: '<span class="fa fa-file-excel-o"></span> Excel Export',
                            exportOptions: {
                                modifier: { search: "applied", order: "applied" },
                                format: {
                                    body: function (data, row, column, node) {
                                        // if (column === 7) {
                                        //     data = data.replace(/<.*?>/gi, "");
                                        // }
                                        // if (column === 8) {
                                        //     data = data.replace(/<.*?>/gi, "");
                                        // }
                                        if (column === 4) {
                                            data = formateDateandTime(parseInt(data));
                                        }
                                        return data;
                                    },
                                },
                            },
                        },
                        {
                            extend: "pdf",
                            text: '<span class="fa fa-file-pdf-o"></span> PDF Export',
                            exportOptions: {
                                modifier: { search: "applied", order: "applied" },
                                format: {
                                    body: function (data, row, column, node) {
                                        // if (column === 7) {
                                        //     data = data.replace(/<.*?>/gi, "");
                                        // }
                                        // if (column === 8) {
                                        //     data = data.replace(/<.*?>/gi, "");
                                        // }
                                        if (column === 4) {
                                            data = formateDateandTime(parseInt(data));
                                        }
                                        return data;
                                    },
                                },
                            },
                        },
                    ],
                    responsive: true,
                    processing: true,
                    serverSide: true,
                    ajax: "/users_ajax",
                    deferLoading: "<%= total %>",
                    aaSorting: [],
                    sortField: 5,
                    sortOrder: "-1",
                    columnDefs: [
                        { orderable: true, targets: [0, 6, 3, 4] },
                        { orderable: false, targets: [1, 2, 7, 8] },
                    ],
                    createdRow: function (row, data, dataIndex) {
        console.log(data[5], dataIndex);
        var rowData =
            "<td>" + data[0] + "</td>" +
            "<td>" + data[1] + "</td>" +
            "<td>" + data[2] + "</td>" +
            "<td>" + data[3] + "</td>" +
            "<td>" + (data[4] ? formateDateandTime(parseInt(data[4])) : '') + "</td>";
        $(row).html(rowData);
    },
                });
                $("#usersTab").DataTable().order([4, "desc"]).draw();
            });
        </script>